# ignore everything 
*

# But not following
!.gitignore
!**/printer.cfg
!**print_macros.cfg
!**/adxlmcu.cfg
!README.md
!**Line_Purge.cfg
!**Adaptive_Meshing.cfg
!**KAMP_Settings.cfg
!**adaptive_bed_mesh.cfg
	
